:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.lustre-container {
  padding: 10px 20px 10px 20px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.category {
  margin: auto;
  width: 250px;
  display: block;
  border-radius: 4px;
  background-color: #55558b;
  color: #ccc;
  &.active {
    background-color: #6a6ac5;
    color: #fff;
  }
  &.coin-grade {
    width: 60px;
  }
}

.spinner {
  width: 250px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.coin-varieties {
  margin: auto !important;
}

@media (min-width: 1264px) {
  .coin-varieties {
    width: 750px;
  }
}
@media (max-width: 1264px) and (min-width: 851px) {
  .coin-varieties {
    width: 500px;
  }
}


.coin-grades {
  width: 250px;
  .v-col {
    button.category { 
      &.active {
        width: 250px;
      }
    }
  }
  margin: auto !important;
}

.coin-details {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  padding: 10px !important;
  .image-disclaimer {
    font-size: 10px;
    color: #424242;
  }
  .coin-image {
    width: 100%;
    max-width: 300px;
  }
  .heading {
    margin-top: 15px;
    font-weight: 600;
  }
}

div.tab {
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

button.tab {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8c8c8c;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;

  &.active {
    background-color: #1a1a1a;
  }
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
