:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.lustre-container {
  min-width: 440px;
  padding: 10px 20px 10px 20px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button.category {
  margin: auto;
  width: 250px;
  display: block;
  border-radius: 4px;
  background-color: #55558b;
  color: #ccc;
  &.active {
    background-color: #6a6ac5;
    color: #fff;
  }
  &.coin-grade {
    width: 60px;
  }
}

.coin-grades {
  margin: auto;
  width: 250px;
  .v-col {
    padding: 2px;
    button.category { 
      &.active {
        width: 250px;
      }
    }
  }
}

.coin-grades {
  margin: auto !important;
}

.coin-details {
  width: 300px;
  margin: auto;
  margin-top: 15px;
}

div.tab {
  padding-top: 15px;
  padding-bottom: 15px;
}

button.tab {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8c8c8c;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;

  &.active {
    background-color: #1a1a1a;
  }
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
